<%include ./partials/header%>

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Welcome to our<br/>Beta Launch!</h1>

            <p class="text-white mt-0 mb-5">Our app is still in the <strong>first stages of development</strong>, and we're adding content and improving our emails every day!&nbsp; <strong>You will see changes and updates </strong>to our email and this site <strong>every day</strong>, as we incorporate new content and play around with the structure!</p>
            <p class="text-white mt-0 mb-5">We want to develop with you in mind, so if you have any suggestions or want any features you can <strong>email us: Hugh@dailyguitarworkout.com</strong></p>

            <a href="mailto:hugh@dailyguitarworkout.com" class="btn btn-info">Email Us!</a>
          </div>
        </div>
      </div>
    </div>



<%include ./partials/footer%>